# ---------- MarkLogic ----------
ML_HOST=localhost
ML_PORT=8000
ML_USER=admin
ML_PASSWORD=CHANGE_ME
ML_DATABASE=Documents
ML_AUTH=digest
ML_SCHEME=http

# ---------- Snowflake ----------
SF_ACCOUNT=abcd-xy12345
SF_USER=CHANGE_ME
SF_PASSWORD=CHANGE_ME
SF_ROLE=SYSADMIN
SF_WAREHOUSE=COMPUTE_WH
SF_DATABASE=RDO_DEV
SF_SCHEMA=GDS
SF_TABLE=GDS_DOCUMENTS
